{% extends 'account/layout.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
<h1>Welcome {{ app.user.firstname }} {{ app.user.lastname }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et orci lobortis nunc ornare varius. In ac blandit felis. Mauris ultricies consectetur ex non rhoncus. Cras faucibus dolor eget cursus maximus. Sed congue libero et augue varius, eget fermentum sem viverra. Pellentesque et eros pharetra, sodales lectus nec, sagittis eros. Donec consectetur elementum vestibulum.</p>
{% endblock %}
