{% extends 'account/layout.html.twig' %}

{% block title %}Modify your password{% endblock %}

{% block content %}
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
<h1>Modify your password</h1>
{{ form(form) }}
{% endblock %}
